/* ~~~~~~~~~~MAIN~~~~~~~~~~ */

html {
    font-size: 20px;
    font-family: 'VT323', monospace;
    background-color: black;
    /* background-image: linear-gradient(#ff8a00, #a2053e);  */
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    /* border: 5px solid rgb(255, 72, 0); */
    height: 100vh;
  }

h1 {
    margin: 0;
}

h2 {
    margin: 10px;
    /* width: 500px; */
    border: 3px solid black;
    box-shadow: 3px 3px 1px brown;
    text-shadow: 3px 3px 1px brown;
}

p, ul, dl {
    color: darkslategrey;
    line-height:80%;
    letter-spacing:normal;
  }

/* ~~~~~~~~~~CLASSES~~~~~~~~~~ */

.gradient-pattern {
    animation: gradient 20s ease infinite;
    background-image: linear-gradient(135deg, #ff8a00, #e52e71);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
    border: 5px solid rgb(120, 120, 120);
  }
  
  @keyframes gradient {
    0% {
      background-position: 51% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 51% 0%;
    }
  }

.av {
    border: 5px solid rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    width: 200px;

    /* image-resolution: 50%; */
} 

.text {
    margin: 0 10px;
}

/* ~~~~~~~~~~IDs~~~~~~~~~~ */

#hat {
    display: block;
    margin: 0 auto;
    color: black;
    line-height:130%;
    text-shadow: 3px 3px 1px brown;
    text-align: center;
}

#mail {
    color: rgb(184, 0, 0)
}
